* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation */
.wpapper {
    max-width: 1440px;
    height: 8421px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    width: 1440px;
    height: 106px;
    margin: 0;
    padding: 0;
}
.header-logo-nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 62px;
    margin-top: 26px;
}
.logo-simbol-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 50px;
    margin-left: 0%;
}
.logo-simbol {
    width: 34px;
    height: 34px;
}
.logo-name {
    width: 130.31px;
    height: 27px;
}
.navigation {
    width: 538.02px;
    height: 62px;
}
.nav-block {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

}
.nav {
    width: 97px;
    height: 30px;
    list-style-type: none;
}

.nav-home {
    margin-left: 20.02px;
}
.nav-text {
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #292F36;
}
.nav-text:hover {
    color: #CDA274;
}

/* main */
.main {
    height: 831px;
    padding-top: 195px;
    background: url(/img/Image.svg);
}
.main-block {
    width: 600px;
    height: 386px;
}
.block-slogan {
    width: 595px;
    height: 192px;
    font-size: 78px;
    font-weight: 400px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.block-text {
    font-family: Jost;
    font-weight: 400px;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #4D5053
}
.button {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    width: 207px;
    height: 71px;
    margin-top: 35px;
    background: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
}
.button-name {
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}
.arrow-main {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 45px;
    margin-top: 11px;
    margin-right: 30px;
    padding-left: 15px;

}
.arrow-main div {
    position: relative;
    top: 20px;
    width: 35px;
    height: 3px;
    background-color: #CDA274;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-main div::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    top: -7.5px;
    right: -5px;
    background-color: #CDA274;
    transform: rotate(65deg);
}
.arrow-main div::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    top: 7.5px;
    right: -5px;
    background-color: #CDA274;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-65deg);
}
.arrow-main:hover {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}

/* activity */
.activity {
    display: flex;
    width: 1200px;
    height: 395px;
    margin-top: 100px;
}
.activity-block {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width: 400px;
    height: 395px;
}
.activity-header {
    height: 39px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}
.activity-text {
    width: 317px;
    height: 99px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.block-view-more {
    display: flex;

    margin-top: 20px;
    height: 47px;
}
.text-view-more {
    width: 94px;
    height: 27px;
    margin-top: 17px;
    left: calc(50% - 94px/2 - 15px);
    top: calc(50% - 27px/2 + 10px);
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #4D5053;
}
.arrow-activity {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 45px;
    margin-top: 11px;
    padding-left: 7px;

}
.arrow-activity div {
    position: relative;
    top: 20px;
    width: 35px;
    height: 3px;
    background-color: #CDA274;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-activity div::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    top: -4.2px;
    right: 0px;
    background-color: #CDA274;
    transform: rotate(25deg);
}
.arrow-activity div::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 3px;
    top: 4.2px;
    right: 0px;
    background-color: #CDA274;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-25deg);
}
.arrow-activity:hover {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
.design {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 634.61px;
    margin-top: 100px;
}
.design-block-left {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 592px;
}
.design-block-image {
    width: 592px;
    height: 635px;
}
.design-slogan {
    width: 450px;
    height: 130px;
    margin-top: 40px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.design-phone-block {
    display: flex;
    width: 532px;
}
.design-phone {
    width: 154px;
    height: 93px;
    width: 93px;
    height: 93px;
    border-radius: 100px;
    background-color: #F4F0EC;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.phone {
    width: 32px;
    height: 32px;
}
.phone-number {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.phone-number-block {
    margin-left: 20px;
}
.phone-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.design-button-name {
    width: 250px;
}
.design-block-text {
    width: 480px;
    height: 132px;
    font-family: Jost;
    font-weight: 400px;
    font-size: 22px;
    letter-spacing: 0.22px;
    color: #4D5053
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: 675px;
    margin-top: 140px;
    background-color: #F4F0EC;;
    border-radius: 70px;
}
.about-slogan {
    width: 480px;
    height: 120px;
    margin-top: 103px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}
.about-card {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 290px;
}
.about-card-name {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
    height: 287px;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.card-image {
    width: 77px;
    height: 77px;
    margin-left: 35px;
    margin-top: 45px;
}
.card-name-address {
    width: 163px;
    height: 64px;
    margin-left: 20px;
    margin-top: 45px;
}
.card-name {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.card-address {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.card-text {
    width: 244px;
    height: 90px;
    margin-left: 35px;
    margin-bottom: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 103px;
    margin-top: 140px;
}
.home {
    width: 132px;
    height: 43px;
}
.vg {
    width: 103px;
    height: 103px;
}
.brand {
    width: 164px;
    height: 43px;
}
.nature {
    width: 145px;
    height: 45px;
}
.classic {
    width: 117px;
    height: 48px;
}
.projects {
    height: 1866px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects-slogan-text {
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.projects-slogan {
    width: 331px;
    height: 63px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}
.projects-text {
    width: 768px;
    height: 66px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.projects-card {
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 756px;
    justify-content: space-between;
}
.progress-img {
    width: 590px;
    height: 661px;
}
.projects-card-slogan {
    width: 299px;
    height: 38px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.projects-card-text {
    width: 114px;
    height: 33px;
}
.projects-card-signature-text {
    width: 315px;
    height: 70px;
}
.projects-card-signature {
    height: 38px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.projects-card-text {
    height: 33px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.projects-arrow {
    display: flex;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    background-color: #F4F0EC; 
    border-radius: 100px;

    align-items: center;
    cursor: pointer;
}
.projects-arrow-link {
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
}
.archive {
    height: 475px;
    background-color: #F4F0EC;
    display: flex;
    align-items: center;
}
.archive-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 288px;
    height: 195px;
    border-right: 1px solid #CDA274;
}
.archive-number {
    width: 105px;
    height: 128px;
    padding-top: 10px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;
}
.archive-text {
    width: 200px;
    height: 33px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.archive-container {
    display: flex;
    justify-content: space-between;
}
.archive-card-right-line {
    border-right: 0px;
}

/* blogs */
.blogs {
    height: 1345px;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 345px;
    height: 473px;
}
.blogs-img {
    width: 345px;
    height: 296px;
    border-radius: 45px 45px 0px 0px;
}
.blogs-image-signature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 44px;
    margin-top: 223px;
    margin-left: 24px;
    border-radius: 8px 8px 8px 0px;
    background-color: #FFFFFF;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.blogs-img-background {
    width: 345px;
    height: 296px;
}
.background-kitchen-top {
    background: url(/img/Kitchen_Design_Top.svg);
}
.background-living-top {
    background: url(/img/Living_Room_Top.svg);
}
.background-minimalist-top {
    background: url(/img/Minimalist_Interior_Top.svg);
}
.background-kitchen-button {
    background: url(/img/Kitchen_Design_Button.svg);
}
.background-living-button {
    background: url(/img/Living_Room_Button.svg);
}
.background-minimalist-button {
    background: url(/img/Minimalist_Interior_Button.svg);
}
.blogs-slogan-text {
    width: 100%;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.blogs-slogan {
    width: 274px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}
.blogs-text {
    width: 589px;
    margin-top: 21px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.blogs-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
    height: 515px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
}
.blogs-card-signature {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #292F36;
}
.blogs-arrow {
    width: 52px;
    height: 52px;
}
.blogs-card-text {
    height: 52px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    color: #4D5053;
    align-items: center;
    display: flex;
}
.blogs-card-text-arrow {
    display: flex;
    align-items: center;
    height: 62px;
}
.connect{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 414px;
    background: #292F36;
    border-radius: 70px;
    margin-top: 100px;
}
.connect-slogan {
    width: 534px;
    height: 75px;
    left: calc(50% - 534px/2);
    top: 100px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
}
.connect-text {
    width: 371px;
    height: 33px;
    left: calc(50% - 371px/2 + 0.5px);
    top: 184px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
}
.connect-button {
    width: 241px;
    height: 71px;
    margin-top: 35px;
    background: #CDA274;
    border: 2px solid #CDA274;
    box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}
.arrow-background div {
    background-color: #292F36;
    transform: rotate(-6.32deg);
}
.arrow-background div::before {
    background-color: #292F36;
}
.arrow-background div::after {
    background-color: #292F36;
}

/* contact */
.interno {
    display: flex;
    justify-content: space-between;
    height: 454px;
    margin-top: 130px;
}
.interno-socials {
    width: 393px;
    height: 374px;
}
.interno-text {
    width: 326px;
    height: 66px;
    margin-top: 23px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.interno-socials-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 333px;
    height: 53px;
}
.interno-icon {
    width: 18px;
    height: 18px;
    margin-left: 40px;
    cursor: pointer;
}
.interno-icon-facebook {
    margin-left: 0px;
}
.interno-pages-list {
    display: flex;
    flex-direction: column;
    width: 211px;
    height: 374px;
}
.interno-pages-explore-contact {
    margin-top: 30px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
    list-style-type: none;
}
.interno-pages-page {
    margin-top: 0px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}
.interno-contact {
    display: flex;
    flex-direction: column;
    width: 337px;
    height: 374px;

}
.interno-adress {
    height: 66px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: #4D5053;
}

/* footer */
.line {
    height: 1px;
    background-color: #E5E5E5;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 104px;
}
.footer-text {
    margin-left: 12px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}
.footer-text-color {
    cursor: pointer;
    color: #CDA274;
}
